<%= @tweet.content %>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

<form action="/tweets/<%= @tweet.id %>/delete" method="post">

</form>
<input type="button" name="delete" value="Delete Tweet">
